
ul.checksum-list {
  margin: 0;
}

ul.checksum-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.checksum-list li {
  display: inline;
}

ul.checksum-list li:after {
  content: "|";
}
ul.checksum-list li:last-child:after {
  content: "";
}

.artifactInfo {
  
}
.artifactInfoLabel{
  text-align: left;
  width: 12em;
}
.artifactInfoValue{
  
}

.artifactDownloads{
  width: 100%
}
.artifactDownloadUrl{
  width: 100%
}
.artifactDownloadChecksums{
  width: 15em
}

/* Grid */

[class*='col-'] {
  float: left;
}

.col-1-2 {
  width: 50%
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}